.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.vscode/
.DS_Store
*.egg-info/
.pytest_cache/
data/vis_2024/results/all_tissues/
data/vis_2024/results/Head and Neck/
data/oneil_2016/results/cell_lines/
data/vis_2024/S1_cell_line_drug_info.xlsx

#Oncologics data
data/input/oncologics/
data/oncologics/
notebooks/celios_visualize_oncologics.ipynb
data/node_dic_input/network6.sif

# BASHI data
data/bashi_2024/